
.welcome{
	text-align: center;
	background-image: url('../images/WELCOME.png');
	background-size: cover;
	color: #fff;
	font-size: 30px;
}
.link1{
	background-color: #027789;
	color: #fff;
	border-radius: 50px;
	padding: 20px;
	margin-left: 550px;
	margin-right: 550px;
}
.link2{
	background-color: #027789;
	color: #fff;
	border-radius: 50px;
	padding: 20px;
	margin-left: 550px;
	margin-right: 550px;
}
.link3{
	background-color: #027789;
	color: #fff;
	border-radius: 50px;
	padding: 20px;
	margin-left: 550px;
	margin-right: 550px;
}
.link4{
	background-color: #027789;
	color: #fff;
	border-radius: 50px;
	padding: 20px;
	margin-left: 550px;
	margin-right: 550px;
}

}
#img{
	border-radius: 180%;
}
a{
	text-decoration: none;
	color: #fff;
}


@media (max-width: 2400px) {
  .link1 {
    padding: 10px;
	margin-left: 400px;
	margin-right: 400px;
  }
  .link2 {
    padding: 10px;
	margin-left: 400px;
	margin-right: 400px;
  }

  .link3 {
    padding: 10px;
	margin-left: 400px;
	margin-right: 400px;
  }

  .link4 {
    padding: 10px;
	margin-left: 400px;
	margin-right: 400px;
  }

}

@media (max-width: 2400px) {
  #logo {
	margin-left: -400px;
  }
}

@media (max-width: 992px) {
  #logo {
	margin: -100;
  }
}

@media (max-width: 1900px) {
  #logo {
	margin-left: -150px;
  }
}

@media (max-width: 992px) {
  .link1 {
    padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
  }
  .link2 {
    padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
  }

  .link3 {
    padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
  }

  .link4 {
    padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
  }

  .menu-body{
	border-left: 5px double;
	font-size: 12px;
	}
	.menu-picture{
		width: 50px;
	}

	body{
		font-size: 16px;
	}

	.picture1{
		margin-bottom: 300px;
	}

	.picture3{
		margin-bottom: 200px;
	}

	.picture4{
		margin-bottom: 400px;
	}

	.picture5{
		margin-bottom: 200px;
	}

	.picture6{
		margin-bottom: 100px;
	}

	.picture6{
		margin-bottom: 200px;
	}

	.picture7{
		margin-bottom: 100px;
	}

	.picture8{
		margin-bottom: 100px;
	}

	.picture9{
		margin-bottom: 100px;
	}

	.picture10{
		margin-bottom: 100px;
	}

	.picture11{
		margin-bottom: 200px;
	}

	.picture12{
		margin-bottom: 250px;
	}

	.picture13{
		margin-bottom: 200px;
	}

	.picture15{
		margin-bottom: 100px;
	}

	.picture16{
		margin-bottom: 100px;
	}

	.picture17{
		margin-bottom: 100px;
	}

	.picture18{
		margin-bottom: 100px;
	}

}

.food-menu-title{
	background-color: #027789;
	color: #fff;
	font-size: 16px;
	text-align: center;

}

.food-menu{
	display: flex;
}

.menu-body{
	border-left: 5px double;
	margin-left : 100px;
}
